.floating-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #000000;
    z-index: 1000;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .cgpt{
    margin-left: 70px;
    background-color: black;
    p{
        color: grey;
        font-weight: bold;
    }
    span{
        color: white;
        font-weight: 500;
    }
  }
  .track
  {
    button{
        background-color: white;
        cursor: pointer;
        color: rgb(100, 100, 100);
        border: none;
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
        font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; 
        font-size: 45px;
    }
  }